.container .sec_start form {
	min-height: 300px;
	min-width: 250px;
}

.hide {
	display: none;
}

.grid_6 {
	display: grid;
	grid-template-columns: repeat(6, 70px);
	grid-template-rows:  repeat(6, 70px);
	grid-gap: 3px;
}
.grid_7 {
	display: grid;
	grid-template-columns: repeat(7, 70px);
	grid-template-rows:  repeat(7, 70px);
	grid-gap: 3px;
}
.grid_8 {
	display: grid;
	grid-template-columns: repeat(8, 70px);
	grid-template-rows:  repeat(8, 70px);
	grid-gap: 3px;
}

.img img {
	border: 1px solid black ;
}

.start_game {
	border: 1px solid black ;
	border-radius: 15px;
	padding: 10px;
}

.cell_front , .cell_back {
	position: absolute;
	transition: 0.8s ease;
	perspective: 100px;
	transform-style: preserve-3d;
}

.cell_front {
	backface-visibility: hidden;
	
}
.cell_back {
	backface-visibility: hidden;
	transform: rotateX(180deg);
}

/*@keyframes open {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}*/

.rotate {
	transform: rotateY(180deg);
}

.rotate1 {
	transform: rotateY(360deg);
}