h1,h2,h3,h4,h5,h6,p,span,ul,li {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff9c4;
}

.container .sec_start form {
	min-height: 300px;
	min-width: 250px;
}

.hide {
	display: none;
}

.grid_4 {
	display: grid;
	grid-template-columns: repeat(4, 70px);
	grid-template-rows:  repeat(6, 70px);
	grid-gap: 3px;
}
.grid_6 {
	display: grid;
	grid-template-columns: repeat(6, 70px);
	grid-template-rows:  repeat(8, 70px);
	grid-gap: 3px;
}

.grid_12 {
	display: grid;
	grid-template-columns: repeat(8, 70px);
	grid-template-rows:  repeat(12, 70px);
	grid-gap: 3px;
}

.img {
	border: 1px solid black ;
	width: 40px;
}

.start_game {
	border: 2px solid #ccc ;
	border-radius: 15px;
	box-shadow: 1px 2px 3px 0px #ccc;
	padding: 10px;
	cursor: pointer;
	user-select: none;
}

.start_game:hover {
	border: 2px solid #aaa;
}

.start_game:active {
	border: 2px solid #aaa;
	box-shadow: -2px -1px 3px 0px #ccc;
}


.cell_front , .cell_back {
	width: 40px;
	height: 40px;
	position: absolute;
	transition: 0.8s ease;
	perspective: 100px;
	transform-style: preserve-3d;
}

.cell_front {
	backface-visibility: hidden;
	
}
.cell_back {
	backface-visibility: hidden;
	transform: rotateX(180deg);
}

/*@keyframes open {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}*/

.rotate {
	transform: rotateY(180deg);
}

.rotate1 {
	transform: rotateY(360deg);
}

.openClass {
	z-index: 999;
	position: absolute;
	/*background-image: url();*/
	background-color: #ff8f00;
	height: auto;
	width: auto;
}

.sec_game {
	margin-top: 50px;
}

@media screen and (max-width: 768px){
	.grid_4 {
		display: grid;
		grid-template-columns: repeat(4, 40px);
		grid-template-rows:  repeat(6, 40px);
		grid-gap: 3px;
	}
	.grid_6 {
		display: grid;
		grid-template-columns: repeat(6, 40px);
		grid-template-rows:  repeat(8, 40px);
		grid-gap: 3px;
	}

	.grid_12 {
		display: grid;
		grid-template-columns: repeat(8, 30px);
		grid-template-rows:  repeat(12, 30px);
		grid-gap: 3px;
	}
}